html
  include includes/head.pug
  body
    include includes/header.pug

    div.container
      h2= name

      main
        ul.list-group
          each race in races
            li.list-group-item
              a(href="/api/races/" + race._id)= race.name